SERVER_PORT=8082
DB_URL=jdbc:postgresql://localhost:5436/catalog_db
DB_USERNAME=catalog_user
DB_PASSWORD=catalog_password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
CATALOG_EVENTS_EXCHANGE=catalog.events
REVIEW_EVENTS_EXCHANGE=review.events
JWT_SECRET_BASE64=VGVzdGluZ0Rldk9ubHlTZWNyZXRLZXlGb3JKV1QxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMw==
