SERVER_PORT=8090
DATABASE_URL=postgresql+psycopg2://recommendation_user:recommendation_password@localhost:5435/recommendation_db
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
STREAMING_EVENTS_EXCHANGE=streaming.events
BILLING_EVENTS_EXCHANGE=billing.events
REVIEW_EVENTS_EXCHANGE=review.events
JWT_SECRET_BASE64=VGVzdGluZ0Rldk9ubHlTZWNyZXRLZXlGb3JKV1QxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMw==
MODEL_RETRAIN_INTERVAL_MINUTES=30
RECOMMENDATION_LIST_SIZE=10
