SERVER_PORT=8081
DB_URL=jdbc:postgresql://localhost:5432/user_db
DB_USERNAME=user_user
DB_PASSWORD=user_password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
USER_EVENTS_EXCHANGE=user.events
JWT_EXPIRATION_SECONDS=3600
JWT_SECRET_BASE64=VGVzdGluZ0Rldk9ubHlTZWNyZXRLZXlGb3JKV1QxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMw==
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
