SERVER_PORT=8083
DB_URL=jdbc:postgresql://localhost:5434/streaming_db
DB_USERNAME=streaming_user
DB_PASSWORD=streaming_password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
STREAMING_EVENTS_EXCHANGE=streaming.events
JWT_SECRET_BASE64=VGVzdGluZ0Rldk9ubHlTZWNyZXRLZXlGb3JKV1QxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMw==
BILLING_SERVICE_BASE_URL=http://localhost:8084
DRM_SIMULATED_FAILURE_RATE=0.0
