SERVER_PORT=8084
DB_URL=jdbc:mysql://localhost:3307/billing_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=billing_user
DB_PASSWORD=billing_password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
BILLING_EVENTS_EXCHANGE=billing.events
JWT_SECRET_BASE64=VGVzdGluZ0Rldk9ubHlTZWNyZXRLZXlGb3JKV1QxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMw==
